*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#heading{
    text-align: center;
    background-color: antiquewhite;
    padding: 10px;
}

#nav{
    background-color: aquamarine;
    text-align: center;
}
#nav>ul{
    list-style: none;
    

}
#nav>ul>li{
    list-style:none;
    display: inline-block;
   
}
#nav>ul>li>a{
    padding:0 15px;
    display: block;
    line-height: 40px;
    text-decoration: none;
}

#nav>ul>li>a:hover{
    .h{
      color: rgb(0, 135, 253);
    }
    background-color: aliceblue;
   
}